/* Playfair, Lato, and Montserrat font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ****************************
         CUSTOM CSS
********************************* */









/*************************************
            Navigation 
**************************************/
.open {
    visibility: hidden;
}

.toggler-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding-bottom: 7px;
}

/* Style user icon */
.fa-circle-user {
    color: rgb(118, 255, 0);
    font-size: 26px;
}

.fa-right-from-bracket {
    padding-left: 5px;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: end;
}

#user-name {
    color: rgb(229, 255, 196);
    font-family: "Roboto", sans-serif;
    padding-left: 10px;
}

.navbar-container {
    padding: 20px;
}

#nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}

.nav-link {
    text-decoration: none;
    color: rgb(0, 140, 255);
    font-family: "Lato", sans-serif;
}

/* *********************** Navigation Styles End ******************************* */



/* Style the container */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px 30px;
}



#pikachu-banner h2 {
    padding: 20px 0;
    text-align: right;
    margin-right: 50px;
}





/* Add margin to the enter pokeland link */
#pokeland-link {
    margin: 20px 0 100px 0;
}


#pokemon-section {
    /* background: #1e1e1e; */
    padding-bottom: 1px;
}

/* Style the Pokemon display */
#pokemon-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 70px;
    row-gap: 100px;
    padding: 50px 0;
}

/* Align the pokemon */
.pokemon {
    justify-self: center;
    align-items: flex-end;
}

/* Add style to the p element with the pokemon name */


.thumbnail img {
}

/* Center the load more Pokemon button */
.load-pokemon-btn {
    display: flex;
    margin: 50px auto;
    cursor: pointer;
}

/***********************************
        Style the overlay 
 **********************************/

/* Add background image to Pokeland */
#pokeland {
    /* background: url(../images/pokeland.png) no-repeat;
    background-position: top;
    background-size: cover; */
}

/* Style the Pokemon Commands
.pokemon-command {
    justify-self: center;
    align-items: center;
}

.pokemon-command h4 {
    text-align: center;
} */





/* ******************************** Desktop Layout *************************************** */
@media screen and (min-width: 760px) {
    

    /* #angry-pikachu {
        left: 580px;
        top: -87px;
    } */

    #pikachu-banner h2 {
        text-align: center;
        margin-right: 0;
        padding-left: 50px;
    }

    /* Style the Pokemon display */
    #pokemon-display {
        grid-template-columns: repeat(4, 170px);
        /* column-gap: 100px; */
        /* row-gap: 100px; */
    }

    .pokemon {
        justify-self: center;
        cursor: pointer;
    }

    .pokemon img {
        height: 160px;
    }

    /* Center the load more Pokemon button */
    .load-pokemon-btn {
        margin: 100px auto;
    }

    /* ****************************************** 
        Style the overlay and its contents
    **********************************************/
    #overlay {
        /* flex-direction: row;
        column-gap: 80px; */
    }

    #pokeInfoChart {
        /* padding: 35px; */
    }

    /* Change the size of the pokemon on the overlay */
    #overlay img {
        /* height: 700px; */
    }

    /* ************************** Carousel Style ************************** */
    .carousel-container {
        width: 100%;
        max-width: 1200px;
        height: 450px;
        position: relative;
        margin-top: 80px;
    }
}