/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ****************************
            CUSTOM CSS
********************************* */
body {
    background: #1e1e1e;
}

.wrapper {
    background: rgba(30, 30, 30, 0.8);
}

/* Change h1, h2 and p text color */
h1, h3, p {
    color: #fff;
}

/* Style the h3 text */
h3 {
    font-size: 19.2px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 50px;
}

/* Change h2 font size */
h2 {
    font-size: 23px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-align: center;
}

/* Add style to the heading text */
h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 33.18px;
    font-weight: bold;
}

/**************** Style the login page ***************/
#login {
    font-family: "Lato", sans-serif;
    background: rgb(30, 30, 30) url(images/pikachu-sign-in-small.png) no-repeat;
    background-size: 110%;
    background-position: top;
    height: 100%;
}

/* Style the Sign in Page main container*/
#sign-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Style the username */
.user-name {
    color: #fff;
    text-transform: uppercase;
    padding-left: 10px;
}

.pokedex-user {
    text-transform: capitalize;
}

/* Style the form heading */
h1 {
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
    font-size: 39.81px;
    font-weight: 600;
    color: #cbf3f0;
}

/* Style the form background container */
#form-background {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style the form instruction text */
.form-instruction {
    color: rgb(229, 255, 196);
    margin-bottom: 30px;
    font-family: "Lato", sans-serif;
}

/* Add style to the login form */
#login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 250px;
}

#signIn,
#signUp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Style the input fields */
.input-fields input {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border: 1px solid #2EC4B6;
    border-radius: 15px;
    padding: 10px 35px;
    font-size: 17.6px;
    font-style: italic;
    outline: none;
    color: #fff;
}

/* Set focus state for input fields */
.input-fields input:focus {
    border: 2px solid #9cf3e5;
}

/* Style the login button */
#login-form button {
    width: 50%;
    padding: 10px 0;
    border: none;
    border-radius: 15px;
    color: #fff;
    background: #FF9F1C;
    font-weight: 900;
    font-family: "Lato", sans-serif;
    font-size: 17.6px;
    margin-bottom: 20px;
}

/* Add style to the forgot password link */
#forgot-password {
    margin: 10px 0 60px 0;
    font-size: 17.6px;
    font-style: italic;
    color: #cbf3f0;
    text-decoration: none;
}

/* Style the sign up link */
#sign-up {
    font-style: italic;
    color: #cbf3f0;
    font-size: 17.6px;
    text-decoration: none;
}

/* Change color for the text with the id new account */
#new-account {
    color: #2EC4B6;
    font-size: 17.6px;
}

/* Add margin to the password input fields */
#confirmpassword {
    margin: 30px 0;
}

/* Change the color for the text already have an account */
.existing-account {
    color: #2EC4B6;
    margin-bottom: 20px;
    font-size: 17.6px;
}

/* Style the existing account link */
.existing-account-login {
    color: #cbf3f0;
    text-decoration: none;
    font-size: 17.6px;
}

.policy {
    color: #2EC4B6;
    margin-bottom: 40px;
    font-size: 17.6px;
}

.policy-link {
    color: #cbf3f0;
    text-decoration: none;
    font-size: 17.6px;
}

/* Position the form icons into the input field and add style */
.name-field,
.email-field {
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: 8px;   
}

.name-field {
    background-image: url(images/user-icon.svg);
    margin-bottom: 30px;
}

.email-field {
    background-image: url(images/mail.svg);   
    margin-bottom: 30px;
}

#userPassword,
#signUpPassword,
#confirmPassword {
    background-image: url(images/password-lock.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 8px;   
}

/* Style the input fields place holder text */
input::placeholder {
    color: #cbf3f0;
    opacity: 0.9;
}

/* hide the sign up form */
#signUp {
    display: none;
}

/* style the form error message */
.error {
    color: red;
    font-weight: bold;
    margin-bottom: 20px;
}

/* style the welcome section */
#welcome-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* style the main banner */
#main-banner {
    position: relative;
    background: rgb(118, 255, 0);
}

#main-banner h2 {
    padding: 20px 100px 20px 0;
}

#banner-pokemon {
    position: absolute;
	left: 250px;
    top: -60px;
}

#banner-pokemon img {
    height: 125px;
}
/* style the pokemon cards */
.thumbnail {
    position: relative;
    background: #6fd70b;
    border-radius: 10px;
    padding: 20px 50px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.thumbnail img {
    background: rgba(229, 255, 196, 0.8);
    border-radius: 10px;
    padding: 5px 20px;
    height: 125px;
}

.pokemon-name {
    text-transform: capitalize;
    text-align: center;
    padding: 10px 0;
}

.pokemon-description {
    width: 160px;
    text-align: center;
}

/* style the overlay */
#overlay {
	display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	height: 100%;
	width: 100%;
	background: rgba(30, 30, 30, 0.9);
	top: 0;
	left: 0;
	z-index: 100;
    padding-bottom:  100px;
}

/* Add margin to the overlay button */
#overlay button {
    margin-top: 20px;
}

#overlay p {
    padding: 50px 25px;
    background: rgba(30, 30, 30, 0.7);
    border: 1px solid  rgba(118, 255, 0, 0.7);
    border-radius: 10px;
    width: 300px;
    margin: 0 15px;
    line-height: 1.2;
}

/* Change the size of the pokemon on the overlay */
#overlay img {
    height: 300px;
    margin-bottom: -50px;
    filter: drop-shadow(10px 0 10px rgb(255, 255, 255));
}

#overlay button {
    text-transform: capitalize;
    cursor: pointer;
}

/* add style to buttons */
.load-pokemon-btn,
#pokeland-link,
#overlay button {
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    background: rgb(0, 140, 255);
    font-weight: 900;
    font-family: "Lato", sans-serif;
    /* letter-spacing: 1px; */
    font-size: 17.6px;
    color: rgb(30, 30, 30);
    text-decoration: none;
}

/* style the caught pokemon */
.caught-message img {
    background: none;
}

.caught-message {
    position: absolute;
    background: rgba(158, 158, 158, 0.9);
    top: 10px;
    padding: 20px 20px;
    border-radius: 10px 0 0 10px;
}

/******************* Pokeland Styles *******************/
#command-section {
    background: green;
    padding: 15px 0
}

#pokemon-command {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.command {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* ************************** Carousel Style ***************************** */
.card h2{
    margin-top: 100px;
    margin-bottom: 50px;
    color: #fff;
}
.carousel-container {
    width: 300px;
    margin: auto;
    text-align: center;
    position: relative;
}

.card {
    display: none;
    padding: 20px;
    border-radius: 10px;
    /* background: rgba(30, 30, 30, 0.8); */
}

.card.center {
    display: block;
}

.caught-pokemon {
    background: rgba(229, 255, 196, 0.8);
    padding: 10px;
    border-radius: 10px;
} 

.card p {
    padding: 45px 0;
}

.nav-arrow {
    position: absolute;
    top: 50%;
    cursor: pointer;
    font-size: 35px;
}

.nav-arrow.left {
    left: -10px;
}

.nav-arrow.right {
    right: -10px;
}

.poke-commands {
    display: flex;
    justify-content: space-between;
    margin: 60px 0;
}

.poke-commands button {
    background: #fff;
    padding: 7px;
    border: none;
    border-radius: 100%;
    cursor: pointer;
}

/* ******************************** Desktop Layout *************************************** */
@media screen and (min-width: 760px) {
    /************** style the login page *************/
    #login {
        background: url(images/pikachu-sign-in-1.png) no-repeat;
        height: 100%;
        background-position: bottom;
        background-size: 100vw;
    }

    /* Style the Sign in Page main container*/
    #sign-in {
        align-items: end;
    }

     /* Style the form background container */
    #form-background {
        height: 100%;
        width: 40%;
        background: linear-gradient(to right, rgba(30, 30, 30, 0.9), rgba(30, 30, 30, 0.9));
    }

    /* Add style to the login form */
    #login-form {
    margin-top: 0;
    }

    /* Style the login button */
    #login-form button {
        font-size: 22px;
        font-weight: 700;
        cursor: pointer;
        transition: all 1s ease-in-out;
    }

    #login-form button:hover {
        background: #f97c07;
        color: #fff;
        transform: scale(0.9);
    }

    /* Add style to the forgot password link */
    #forgot-password:hover,
    #sign-up:hover,
    .existing-account-login:hover,
    .policy-link:hover {
        text-decoration: underline;
    }

    /* Position the form icons into the input field and add style */
    .name-field {
        background-size: 25px;
        background-position: 7px 10px;   
    }

    #userPassword {
        background-size: 22px;
        background-position: 7px 10px;   
    }

    /* Add background image to the pokeland page */
    #pokeland {
        background: url(images/pokeland.png) no-repeat;
        background-position: top;
        background-size: cover;
    }
    /* Add background image to the header */
    #dashboard {
        background: url(/images/ash_and_pokemon.png) no-repeat;
        background-position: top;
        background-size: cover;
    }

    /* style the navbar */
    .toggler-icon {
        cursor: pointer;
    }

    .nav-link {
        font-size: 18.33px;
    }

    /* Style the container */
    .container {
        max-width: 700px;
    }

    /* Style the h3 text */
    h3 {
        font-size: 22px;
    }

    /* Change h2 font size */
    h2 {
        font-size: 31.68px;
    }

    /* Add style to the heading text */
    h1 {
        font-size: 54.74px;
        font-weight: bold;
    }

    /* Change p text size */
    p {
        font-size: 22px;
    }

    /* style the main banner */
    #main-banner h2 {
        padding: 20px 300px 20px 0;
    }

    #banner-pokemon {
        left: 1090px;
        top: -45px;
    }

    /* style the pokemon cards */
    .thumbnail:hover {
        transform: scale(105%);
    }

    /* style the overlay */
    #overlay p {
        width: 500px;
    }

    /* Change the size of the pokemon on the overlay */
    #overlay img {
        height: 600px;
    }

    /* style the caught message */
    .caught-message {
        top: 15px;
        padding: 25px 20px;
    }

    /******************* Pokeland Styles *******************/


    /* ************************** Carousel Style ***************************** */
    .carousel-container {
        width: 700px;
        height: 100%;
    }

    .caught-pokemon {
        height: 400px;
        padding: 20px;
    }

    .card p {
        padding: 65px 0;
    }

    .poke-commands {
        justify-content: space-around;
    }

    .poke-commands img {
        height: 35px;
        cursor: pointer;
    }

    .nav-arrow {
        top: 50%;
    }

    .nav-arrow.left {
        left: -50px;
    }

    .nav-arrow.right {
        right: -50px;
    }
}