/* Playfair, Lato, and Montserrat font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ****************************
         CUSTOM CSS
********************************* */
* {
    box-sizing: border-box;
}

/* Change background color */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(238, 238, 238);
    min-height: 100vh;
}

/* Add style to the h1 text */
h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 33.18px;
    color: rgb(229, 255, 196);
    margin-bottom: 30px;
}

/* Style the container with the success message */
.success-message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 30px;
    background: rgb(30, 30, 30);
    /* box-shadow: 10px 10px rgba(0, 0, 0, 0.3); */
    border-radius: 10px;
    margin: 0 10px;
}

/* Style the login link */
#go-login {
    background: linear-gradient(120deg, rgb(0, 140, 255), rgb(118, 255, 0));
    font-weight: 900;
    font-size: 17.6px;
    font-family:  "Lato", sans-serif;
    color: rgb(30, 30, 30);
    padding: 20px 25px;
    border-radius: 15px;
    text-decoration: none;
}

/* Style the image */
.success-img {
    margin-bottom: -20px;
}

/* ******************************** Desktop Layout *************************************** */
@media screen and (min-width: 760px) {
    /* Adjust the H1 size */
    h1 {
        font-size: 54.74px;
    }

    /* Style the login link */
    #go-login { 
        font-size: 22px;
    }

    /* Style the image */
    .success-img {
        height: 300px;
        margin-bottom: -30px;
    }

    .success-message {
        align-items: center;
    }
}